<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-fakesmc-kozlek</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-realtek-network</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-fake-pci-id</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-voodoo-ps2-controller</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-acpi-battery-driver</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-brcmpatchram</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-usb-inject-all</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-eapd-codec-commander</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>lilu</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>intelgraphicsfixup</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>ath9kfixup</string>
	</dict>
</array>
</plist>
