<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-maciasl-patchmatic</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>os-x-maciasl-patchmatic RehabMan-patchmatic</string>
	</dict>
	<dict>
		<key>author</key>
		<string>RehabMan</string>
		<key>name</key>
		<string>acpica</string>
	</dict>
</array>
</plist>
