<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixRTC</key>
				<true/>
				<key>FixHPET</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q11,0,N) to XQ11</string>
					<key>Find</key>
					<data>X1ExMQA=</data>
					<key>Replace</key>
					<data>WFExMQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q12,0,N) to XQ12</string>
					<key>Find</key>
					<data>X1ExMgA=</data>
					<key>Replace</key>
					<data>WFExMgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(MHPF,1,N) to XHPF</string>
					<key>Find</key>
					<data>TUhQRgE=</data>
					<key>Replace</key>
					<data>WEhQRgE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(MHIF,1,N) to XHIF</string>
					<key>Find</key>
					<data>TUhJRgE=</data>
					<key>Replace</key>
					<data>WEhJRgE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBID,0,S) to XBID</string>
					<key>Find</key>
					<data>R0JJRAg=</data>
					<key>Replace</key>
					<data>WEJJRAg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(CFUN,4,S) to XFUN</string>
					<key>Find</key>
					<data>Q0ZVTgw=</data>
					<key>Replace</key>
					<data>WEZVTgw=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_BST,0,S) to XBST</string>
					<key>Find</key>
					<data>X0JTVAg=</data>
					<key>Replace</key>
					<data>WEJTVAg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_BIF,0,N) to XBIF</string>
					<key>Find</key>
					<data>X0JJRgA=</data>
					<key>Replace</key>
					<data>WEJJRgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _PRW in LID to XPRW (disabling it)</string>
					<key>Find</key>
					<data>CF9QUlc=</data>
					<key>Replace</key>
					<data>CFhQUlc=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change GATY to GATX</string>
					<key>Find</key>
					<data>R0FUWQI=</data>
					<key>Replace</key>
					<data>R0FUWAI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_REG,2,N) to XREG</string>
					<key>Find</key>
					<data>X1JFRwI=</data>
					<key>Replace</key>
					<data>WFJFRwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change XHCI to XHCX (BIOS override)</string>
					<key>Find</key>
					<data>WEhDSQg=</data>
					<key>Replace</key>
					<data>WEhDWAg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change MAUL to MAUX (BIOS override)</string>
					<key>Find</key>
					<data>TUFVTAg=</data>
					<key>Replace</key>
					<data>TUFVWAg=</data>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 -ath9565</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#FrequencyMHz</key>
		<integer>2000</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Conexant CX20751/2 HD Audio</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>D1HxFA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Conexant menubar fix (credit wern apfel)</string>
				<key>Find</key>
				<data>a3Bzaes=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>Y2ltaes=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo, 10.12.x (credit the-darkvoid)</string>
				<key>Find</key>
				<data>gflSqgAAdSk=</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>gflSqgAAZpA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x</string>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.12.dp1 (credit denskop)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>AQAAdSU=</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yU=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.13 beta (based on denskop patch)</string>
				<key>Disabled</key>
				<true/>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Find</key>
				<data>AQAAdSI=</data>
				<key>Replace</key>
				<data>AQAA6yI=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ 5Ghz US FCC, the-darkvoid</string>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11.dp1+ BT4LE-Handoff-Hotspot, credit RehabMan based on Dokterdok original</string>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAAAHAQAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAAAHAQAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Country Code Patch (#a) - Credit PMheart</string>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.BrcmNIC</string>
				<key>Find</key>
				<data>QYP8/3Q1SI1V0A==</data>
				<key>Replace</key>
				<data>ZscGI2HrNI1V0A==</data>
				<key>Disabled</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
