<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sensors</string>
	<string>FakePCIID_BCM57XX</string>
	<string>FakePCIID_Intel_GbX</string>
	<string>FakePCIID_Intel_HDMI</string>
	<string>FakePCIID_XHCIMux</string>
	<string>FakePCIID_AR9280_as_AR946x</string>
	<string>BrcmFirmwareData</string>
	<string>PatchRAM.kext</string>
	<string>PS2</string>
</array>
</plist>
