<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Downloads</key>
	<dict>
		<key>Kexts</key>
		<array>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-fakesmc-kozlek</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-realtek-network</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-fake-pci-id</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-voodoo-ps2-controller</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-acpi-battery-driver</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-brcmpatchram</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-usb-inject-all</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-eapd-codec-commander</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>lilu</string>
				<key>Minimum OS</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>intelgraphicsfixup</string>
				<key>Minimum OS</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>ath9kfixup</string>
			</dict>
		</array>
		<key>Tools</key>
		<array>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-maciasl-patchmatic</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>os-x-maciasl-patchmatic RehabMan-patchmatic</string>
			</dict>
			<dict>
				<key>author</key>
				<string>RehabMan</string>
				<key>name</key>
				<string>acpica</string>
			</dict>
		</array>
	</dict>
	<key>Exceptions</key>
	<array>
		<string>Sensors</string>
		<string>FakePCIID_BCM57XX</string>
		<string>FakePCIID_Intel_GbX</string>
		<string>FakePCIID_Intel_HDMI</string>
		<string>FakePCIID_XHCIMux</string>
		<string>FakePCIID_AR9280_as_AR946x</string>
		<string>BrcmFirmwareData</string>
		<string>PatchRAM.kext</string>
		<string>PS2</string>
	</array>
	<key>Hotpatch</key>
	<array>
		<string>SSDT-IGPU.dsl</string>
		<string>SSDT-HDEF.dsl</string>
		<string>SSDT-HDAU.dsl</string>
		<string>SSDT-PNLF.dsl</string>
		<string>SSDT-XOSI.dsl</string>
		<string>SSDT-PluginType1.dsl</string>
		<string>SSDT-XHC.dsl</string>
		<string>SSDT-Disable_EH01.dsl</string>
	</array>
</dict>
</plist>
